.header--aside {
  background-color: var(--brandLightBlue);
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem;
}

.header--aside__top {
  margin-top: 3rem;
  margin-bottom: 40rem;
}

.header--aside__topTitle,
.header--aside__bottomTitle {
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--brandMediumGray);
}

.header--aside__mainNav,
.header--aside__secondaryNav {
  display: flex;
  flex-direction: column;
}

.header--aside__mainLink,
.header--aside__secondaryLink {
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--brandMediumDarkGray);
}

.fa-solid,
.fa-regular {
  margin-right: 1rem;
}
