.header--section {
  background-color: var(--brandNavy);
}
.header--section__title {
  font-size: 2.7rem;
  color: var(--brandWhite);
  text-align: left;
}

.header--section__span {
  color: var(--brandGreen);
}

.header--section__subText {
  font-size: 1.5rem;
  color: var(--brandMediumGray);
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: left;
}

.header--section__button {
  color: var(--brandWhite);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--brandGreen);
}
