/* Main Width */
.main {
  min-width: 50%;
}

/* Main Top */
.main--top {
  min-height: 14rem;
  padding: 4rem 3rem;
  border-bottom: 0.5px dotted var(--brandMediumLightGray);
}

.main--top__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main--top__welcome {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: var(--brandMediumLightGray);
}

.main--top__title {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--brandNavy);
}

.main--rest {
  padding: 3rem;
}
/* Search */
.main--top__input {
  min-width: 35rem;
  padding: 1rem;
  border: 0.2px dotted var(--brandMediumLightGray);
  border-radius: 0.1rem;
  outline: none;
}

.main--top__input::placeholder {
  color: var(--brandMediumLightGray);
  font-size: 0.9rem;
}

/* Hero */
.section--hero {
  margin-bottom: 4rem;
}
.section--hero__img {
  max-height: 300px;
  min-width: 85%;
  border-radius: 0.2rem;
  object-fit: none;
  object-position: right;
  padding-right: 3rem;
  position: relative;
}

.section--hero__overlay {
  position: absolute;
  top: 320px;
  left: 400px;
  background-color: rgba(0, 0, 0, 0.4);
}
.section--bookmark {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-width: 15%;
  background-color: var(--brandLightGreen);
  border-radius: 0.2rem;
  padding: 1.5rem;
}

.fa-bowl-rice {
  margin-bottom: 2rem;
}

.section--bookmark__text {
  color: var(--brandNavy);
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 5rem;
}

.section--bookmark__link {
  color: var(--brandGreen);
  font-weight: 800;
}

/* Categories */
.section--categories__titleDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.section--categories__title {
  font-size: 1.5rem;
  color: var(--brandDarkMediumGray);
  font-weight: 400;
}

.section--categories__link {
  text-decoration: none;
  color: var(--brandGreen);
  font-weight: 800;
  font-size: 1.2rem;
}

.section--categories__pods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section--categories__description {
  margin-top: 1rem;
}

.section--categories__pod {
  border: 0.5px dotted var(--brandMediumLightGray);
  width: 10%;
}
