.main--top {
  display: flex;
  padding: 3rem 2rem;
  border-bottom: 0.5px dotted var(--brandMediumLightGray);
}

.main--top__intro {
  display: flex;
  flex-direction: column;
}

.main--top__welcome {
  color: var(--brandMediumGray);
  margin-bottom: 1.2rem;
}

.main--top__title {
  font-size: 2.7rem;
  color: var(--brandNavy);
  font-weight: 500;
}

img {
  width: 300px;
}
